<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="p1" class="com.sunbeam.boot04.PersonImpl">
        <property name="name" value="Ajay"></property>
        <property name="age" value="19"></property>
    </bean>
    <bean id="a1" class="com.sunbeam.boot04.AccountImpl">
        <property name="id" value="101"></property>
        <property name="type" value="saving"></property>
        <property name="balance" value="50000.00"></property>
        <property name="accHolder" ref="p1"></property>
    </bean> 
    <bean id="a2" class="com.sunbeam.boot04.AccountImpl">
        <constructor-arg index="0" value="202"></constructor-arg>
        <constructor-arg index="1" value="current"></constructor-arg>
        <constructor-arg index="2" value="20000.00"></constructor-arg>
        <constructor-arg index="3" ref="p1"></constructor-arg>
    </bean>

</beans>